.calculator{
   margin: 0px;
    width: 400px;
}
td,input,button{
    width: 90px;
    color: white;
}
tr,td{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.top,input{
width: 420px;
height: 50px;
color: black;
}
.top,button{
    height: 50px;
    margin-left: 0px;
}
.calculator{
    margin-left: 20%;
    margin-top: 10%;
}